* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #f8f8f8;
  height: 100vh;
  padding: 20px;
}
li {
  list-style-type: none;
}
.nav-left a {
  text-decoration: none;
  color: #b7b7b7;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-left a.active {
  color: black;
}
/* designing the nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 15px 20px 15px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav .nav-left {
  display: flex;
  gap: 50px;
}
.nav-left ul {
  display: flex;
  gap: 100px;
}
ul li input {
  background-color: #e6e6e6;
}
.btn-wrapper button {
  background-color: #d1ff97;
}
.create-account-wrapper .arrow {
  color: black;
  font-size: 30px;
  font-weight: 900;
  /* width: 30px; */
}
.create-account-wrapper button:hover {
  background-color: none;
}
button a {
  text-decoration: none;
  text-decoration-color: none;
  font-size: 16px;
  color: black;
}
.left-footer {
  position: relative;
  background: url(image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  margin: 50px 30px 30px;
}
.left-footer .overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 30px;
  z-index: 0;
}
.content-left-footer {
  z-index: 10;
  display: flex;
  padding: 100px;
  gap: 20px;
  /* width: 50% */
}
.content-left-footer p {
  text-align: left;
}

section {
  margin-top: 40px;
  display: flex;
}
section .left {
  display: flex;
  flex-direction: column;
  background-color: #ffe5e5;
  height: 100%;
  flex: 1;
  text-align: center;
  padding: 30px;
  gap: 50px;
}
section .right {
  flex: 1;
  background-color: #d1ff97;
}
.left .title-wrapper {
  flex: 1;
  text-transform: uppercase;
}
.left .title-wrapper span {
  font-size: 25px;
  font-weight: 500px;
}
.left .title-wrapper h1 {
  font-size: 75px;
  margin-top: 20px;
  line-height: 75px;
  font-weight: 500px;
}
.left .create-account-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #e6e6e6; */
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.create-account-wrapper button {
  /* background-color: #d1ff97; */
  border: none;
  border-bottom: 2px solid black;
  /* psdding: 5px 5px; */
  background-color: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.right{
  padding: 30px 100px;
  position: relative;
  background: url(image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.form-title-wrapper{
  text-align: center;
  color: #e6e6e6;
  margin: 30px o;
}
.form-title-wrapper h1{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-title-wrapper h3{
  text-transform: capitalize;
}
.form-wrapper{
  z-index: 50;
  background-color: white;
  padding: 30px;
  /*min-width: 300px;
  width: 450px; */
  margin: 0 auto;
}
.form-wrapper h3{
  text-align: center;
  margin: 30px 0;
}
form{
  z-index: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  }
.input-wrapper input{
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgb(228, 228, 228);
  outline: none;
  width: 100%;
}
.input-wrapper label{
  color: rgb(153, 150, 150);
  padding-left: 10px;
}

form button{
  background-color: black;
  padding: 15px 0;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}
.overlay{
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 30px;
  z-index: 0;
}